* {
  box-sizing: border-box;
  margin: 0;
}

.module-randr-container {
  display: grid;
  grid-template-areas:  "title title"
                        "randr randr";
  grid-gap: 1em;
}

.randr-title {
  grid-area: title;
}

.randr-items {
  grid-area: randr;
  display: grid;
  grid-template-areas: "ratings reviews";
  grid-template-columns: max-content 1fr;
  grid-gap: 1em;
}

.randr-title, .randr-items {
  border: 5px solid #87b5ff;
  border-radius: 5px;
  font-size: 2em;
  font-weight: bold;
  background-color: #1c57b5;
}